@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-400.woff2') format('woff2'),
    url('../fonts/open-sans-400.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-600.woff2') format('woff2'),
    url('../fonts/open-sans-600.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-700.woff2') format('woff2'),
    url('../fonts/open-sans-700.woff') format('woff');
}

:root {
  --white: #fff;
  --dark-gray: #333;
  --black: #000;
  --violet: #7943a4;
  --azuremyst: #c283f3;
  --lavander: #9d5cd0;
  /* --blue: #3f2aff;
  --dark-blue: #2e2b44;
  --gray: #e0e0e0;
  --dark-gray: #666; */
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

textarea,
input {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--white);
}

section {
  margin-bottom: 80px;
}

.container {
  width: calc(100% - 320px);
  max-width: 1600px;
  margin: 0 auto;
}

.section-header {
  margin-top: 0;
  margin-bottom: 16px;
}

/* .button {
  padding: 21px 59px;
  background-color: var(--blue);
  border-radius: 20px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: var(--white);
  transition: background-color .3s ease;
}

.button:hover,
.button:focus {
  outline: none;
  background-color: #3422d1;
} */

/* Header */

.header {
  position: absolute;
  width: 100%;
}

.header__top {
  min-width: 100%;
  height: 99px;
  background-color: var(--black);
}

.header__container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0;
}

.header__logo:focus {
  outline: 8px solid var(--violet);
  background-color: var(--violet);
}

.header__burger-menu,
.header__search-open-button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0;
}

.menu__list {
  margin-right: 279px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0;
}

.menu__item {
  margin-right: 62px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item-link {
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  color: var(--white);
  transition: color .3s ease;
}

.menu__item-link:hover {
  color: var(--azuremyst);
}

.menu__item-link:focus {
  outline: 5px solid var(--violet);
  background-color: var(--violet);
}

.menu__item-link:active {
  color: var(--violet);
}

.header__sign-in svg {
  margin-right: 3px;
}

.header__sign-in {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: var(--white);
  transition: color .3s ease;
}

.header__sign-in path {
  transition: fill .3s ease;
}

.header__sign-in:hover {
  color: var(--azuremyst);
}

.header__sign-in:hover path {
  fill: var(--azuremyst);
}

.header__sign-in:focus {
  outline: 5px solid var(--violet);
  background-color: var(--violet);
}

.header__sign-in:active {
  color: var(--lavander);
}

.header__sign-in:active path {
  fill: var(--lavander);
}

.header__bottom {
  min-width: 100%;
  height: 72px;
  background-color: rgba(0, 0, 0, 0.4);
}

.categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0;
}

.categories__item {
  margin-right: 113px;
}

.categories__item:last-child {
  margin-right: 0;
}

.categories__item-open {
  position: relative;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: var(--white);
  transition: color .3s ease;
}

.categories__item-open::after {
  position: absolute;
  content: "";
  right: -17px;
  height: 8px;
  width: 8px;
  margin-top: 7px;
	border: 1px solid var(--white);
	border-width: 1px 1px 0 0;
	transform: scaleY(0.85) rotate(135deg);
  transition: border-color .3s ease;
}

.categories__item-open:hover {
  color: var(--lavander);
}

.categories__item-open:hover::after {
  border-color: var(--lavander);
}

.categories__item-open:focus {
  outline: 5px solid var(--violet);
  background-color: var(--violet);
}

.categories__item-open:active {
  color: var(--violet);
}

.categories__item-open:active::after {
  margin-top: 12px;
  border-color: var(--violet);
  transform: scaleY(0.85) rotate(-45deg);
}

.categories__dropdown {
  position: absolute;
  width: 300px;
  height: 300px;
  padding: 40px;
  display: none;
  /* display: flex; */
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 0;
}

.categories__dropdown-item {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  background-color: var(--black);
}

.categories__dropdown-item:last-child {
  margin-bottom: 0;
}

.categories__dropdown-item-link {
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  color: var(--white);
}

.search {
  display: flex;
}

.search__button {
  margin-right: 9px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search__field {
  width: 218px;
  padding: 0;
  padding-bottom: 2px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  background-color: transparent;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: var(--white);
}

.search__field::placeholder {
  color: rgba(255, 255, 255, 0.85);
}

/* Heroes */

.heroes {
  background-image: url("../img/heroes-background.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.heroes__panel {
  padding-top: 240px;
  padding-bottom: 122px;
}

.heroes__content {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heroes__header {
  margin-top: 0;
  margin-bottom: 19px;
  font-size: 72px;
  line-height: 83px;
  font-weight: 700;
  color: var(--white);
}

.heroes__description {
  margin-top: 0;
  margin-bottom: 92px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--white);
}

.heroes__button {
  padding: 17px 29px;
  display: block;
  background-color: var(--lavander);
  border: 3px solid var(--lavander);
  border-radius: 100px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  color: var(--white);
  transition: border-color .3s ease;
  transition: background-color .3s ease;
}

.heroes__button:hover,
.heroes__button:active {
  border-color: #d1a9f0;
}

.heroes__button:focus {
  outline: 2px solid var(--azuremyst);
  outline-offset: 5px;
}

.heroes__button:active {
  background-color: #7943a4;
}

/* About */

.about__header {
  font-size: 48px;
  line-height: 65px;
  font-weight: 400;
  color: var(--dark-gray);
}

.about__paragraph {
  max-width: 1080px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: var(--dark-gray);
}

/* Media */

@media (min-width: 1621px) {

  .header__burger-menu,
  .header__search-open-button {
    display: none;
  }
}

@media (max-width: 1620px) {
  .container {
    width: calc(100% - 100px);
  }

  .header__menu {
    display: none;
  }

  .header__sign-in {
    display: none;
  }

  .header__bottom {
    display: none;
  }

  .heroes__panel {
    padding-top: 213px;
    padding-bottom: 114px;
  }

  .heroes__content {
    width: 661px;
  }

  .heroes__header {
    margin-bottom: 11px;
  }

  .heroes__description {
    margin-bottom: 133px;
  }
}

@media (max-width: 1024px) {
  .heroes {
    background-image: url("../img/heroes-background-1024px.jpg");
  }
}

@media (max-width: 768px) {
  .heroes {
    background-image: url("../img/heroes-background-768px.jpg");
  }
}

@media (max-width: 560px) {
  section {
    margin-bottom: 52px;
  }

  .container {
    width: calc(100% - 30px);
  }

  .section-header {
    margin-bottom: 12px;
  }

  .logo {
    width: 97px;
    height: 22px;
  }

  .header__top {
    height: 45px;
  }

  .header__burger-menu svg {
    width: 25px;
    height: 18px;
  }

  .header__search-open-button svg {
    width: 18px;
    height: 18px;
  }

  .heroes__panel {
    padding: 79px 12px 45px;
  }

  .heroes__content {
    max-width: 100%;
    align-items: center;
    text-align: center;
  }

  .heroes__header {
    margin-bottom: 12px;
    font-size: 32px;
    line-height: 37px;
  }

  .heroes__description {
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }

  .heroes__button {
    padding: 12px 17px;
    font-size: 12px;
    line-height: 16px;
  }

  .about__header {
    font-size: 28px;
    line-height: 38px;
  }

  .about__paragraph {
    font-size: 14px;
    line-height: 28px;
  }
}

@media (max-width: 320px) {
  .heroes {
    background-image: url("../img/heroes-background-320px.jpg");
  }
}
